{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">
			{% for flash in app.flashes("err") %}
				<div class="alert alert-danger" role="alert" data-bs-theme="dark">
					<h4 class="alert-heading">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewbox="0 0 16 16">
							<path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
						</svg>
						Erreur
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewbox="0 0 16 16">
							<path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
						</svg>
					</h4>
					{{flash}}
				</div>
			{% endfor %}
			<div class="alert alert-info" role="alert" data-bs-theme="dark">
				Vous êtes actuellement sur le panel d'administration !
			</div>
			<hr>
			<div>
				<div class="alert alert-secondary" role="alert" data-bs-theme="dark">
					Gestion des séries Tv
				</div>
				<a href="{{path("app_admin_addserie", {type:"tv"})}}" class="btn btn-primary">
					Ajouter une Serie Tv
				</a>
				<a href="{{path("app_admin_listeseries", {type:"tv", action:"update"})}}" class="btn btn-primary">
					Modifier une Serie Tv
				</a>
				<a href="{{path("app_admin_listeseries", {type:"tv", action:"delete"})}}" class="btn btn-danger">
					Supprimer une Serie Tv
				</a>
			</div>
			<hr>
			<div>
				<div class="alert alert-secondary" role="alert" data-bs-theme="dark">
					Gestion des séries Web
				</div>
				<a href="{{path("app_admin_addserie", {type:"web"})}}" class="btn btn-primary">
					Ajouter une Serie Web
				</a>
				<a href="{{path("app_admin_listeseries", {type:"web", action:"update"})}}" class="btn btn-primary">
					Modifier une Serie Web
				</a>
				<a href="{{path("app_admin_listeseries", {type:"web", action:"delete"})}}" class="btn btn-danger">
					Supprimer une Serie Web
				</a>
			</div>
			<hr>
			<div>
				<div class="alert alert-secondary" role="alert" data-bs-theme="dark">
					Gestion des genres
				</div>
				<a href="{{path("app_admin_addgenre")}}" class="btn btn-primary">
					Ajouter un genre
				</a>
				<a href="{{path("app_admin_listegenres", {action:"update"})}}" class="btn btn-primary">
					Modifier un genre
				</a>
				<a href="{{path("app_admin_listegenres", {action:"delete"})}}" class="btn btn-danger">
					Supprimer un genre
				</a>
			</div>
			<hr>
			<div>
				<div class="alert alert-secondary" role="alert" data-bs-theme="dark">
					Gestion des Pays
				</div>
				<a href="{{path("app_admin_addpays")}}" class="btn btn-primary">
					Ajouter un pays
				</a>
				<a href="{{path("app_admin_listepays", {action:"update"})}}" class="btn btn-primary">
					Modifier un pays
				</a>
				<a href="{{path("app_admin_listepays", {action:"delete"})}}" class="btn btn-danger">
					Supprimer un pays
				</a>
			</div>
		</main>
	</div>
{% endblock %}
