{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">

			<h1>{{LaSerie.getTitre()}}</h1>

			<img src="{{LaSerie.getImage()}}" alt="">


			<p>Nombre d'épisodes au total :
				{{LaSerie.getNbEpisodes()}}</p>
			<p>
				Pays D'origine :
				{{LaSerie.getPays().getNom()}}
				<img src="{{LaSerie.getPays().getDrapeau()}}" width="35"></p>
			<p>Première Diffusion
				{{LaSerie.getPremiereDiffusion()|date("d-m-Y")}}</p>

			<br><br>
			<p>Résumé :
				<br>
				{{LaSerie.getResume()}}</p>


		</main>
	</div>
{% endblock %}
