{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">

			<h1>{{LaSerie.getTitre()}}</h1>

			<img src="{{LaSerie.getImage()}}" alt="" class="img-details"/>


			<p>Nombre d'épisodes au total :
				{{LaSerie.getNbEpisodes()}}</p>

			<p>
				Pays D'origine :
				{{LaSerie.getPays().getNom()}}
				<img src="{{LaSerie.getPays().getDrapeau()}}" height="20">
			</p>

			<p>Première Diffusion
				{{LaSerie.getPremiereDiffusion()|date("d/m/Y")}}
			</p>
			<br>
			<p>Genres :
				{{LaSerie.getLesGenres()|map(g => g.getLibelle())|join(", ")}}
			</p>

			{% if LaSerie is instanceof("App\\Entity\\SerieWeb")%}
				<p>Site:
					<a href="{{LaSerie.getSite()}}">{{LaSerie.getSite()}}</a>
				</p>

			{% elseif LaSerie is instanceof("App\\Entity\\SerieTv") %}
				<p>Chaine de Diffusion:
					{{LaSerie.getChaineDiffusion()}}</p>

			{% endif %}
			<br><br>
			<p>Résumé :
				<br>
				{{LaSerie.getResume()}}
			</p>


		</main>
	</div>
{% endblock %}
