{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">
			{% for flash in app.flashes("success") %}
				<div class="alert alert-success" role="alert" data-bs-theme="dark">
					{{flash}}
				</div>
			{% endfor %}

			<h1>Les Séries</h1>
			<div class="alert alert-info" role="alert" data-bs-theme="dark">

				Il y as actuellement
				{{ SerieTvCount }}
				séries TV !
			</div>
			<div>
				<p>Trier par Pays</p>
				{% for item in lesPays %}
					<a href="{{path('app_series_by_pays', {id: item.getId()})}}"><img src="{{item.getDrapeau()}}" height="20"></a>
				{% endfor %}
			</div>
			<br>
			<div>
				<p>Trier par Genre</p>
				{% for item in lesGenres %}
					<a href="{{path('app_series_by_genre', {id: item.getId()})}}">{{item.getLibelle()}}</a>
				{% endfor %}
			</div>
			<br>
			<div>
				<p>Année de diffusion comprise entre :</p>
				<form action="{{path("app_series_between_dates_redirect")}}" method="get">
					<div class="input-group mb-3">
						<span class="input-group-text">ENTRE</span>
						<input type="month" name="date1" id="date1" value="{{date1 is defined ? date1 : null}}" class="form-control">
						<span class="input-group-text">ET</span>
						<input type="month" name="date2" id="date2" value="{{date2 is defined ? date2 : null}}" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Chercher</button>

				</form>
			</div>
			<br>


			<div class="row row-cols-2 row-cols-md-3 g-4">
				{% for item in LesSeriesTv %}
					{% include "/serie/serieCard.html.twig" %}
				{% endfor %}
			</div>

			<hr class="rounded">

			<div class="alert alert-info" role="alert" data-bs-theme="dark">
				Il y as actuellement
				{{ SerieWebCount }}
				séries Web !
			</div>

			<div class="row row-cols-2 row-cols-md-3 g-4">
				{% for item in LesSeriesWeb %}
					{% include "/serie/serieCard.html.twig" %}
				{% endfor %}
			</div>

		</main>

	</div>
{% endblock %}
