{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">
			<h1>Les Séries</h1>
			<div class="alert alert-info" role="alert" data-bs-theme="dark">

				Il y as actuellement
				{{ SerieTvCount }}
				séries TV !
			</div>
			<div>
				<p>Trier par Pays</p>
				{% for item in lesPays %}
					<a href="{{path('app_series_by_pays', {id: item.getId()})}}"><img src="{{item.getDrapeau()}}" height="20"></a>
				{% endfor %}
			</div>
			<br>
			<div>
				<p>Trier par Genre</p>
				{% for item in lesGenres %}
					<a href="{{path('app_series_by_genre', {id: item.getId()})}}">{{item.getLibelle()}}</a>
				{% endfor %}
			</div>
			<br>
			<br>


			<div class="row row-cols-2 row-cols-md-3 g-4">
				{% for item in LesSeriesTv %}
					{% include "/serie/serieCard.html.twig" %}
				{% endfor %}
			</div>

			<hr class="rounded">

			<div class="alert alert-info" role="alert" data-bs-theme="dark">
				Il y as actuellement
				{{ SerieWebCount }}
				séries Web !
			</div>

			<div class="row row-cols-2 row-cols-md-3 g-4">
				{% for item in LesSeriesWeb %}
					{% include "/serie/serieCard.html.twig" %}
				{% endfor %}
			</div>

		</main>

	</div>
{% endblock %}
